@use "../../base/mixins";
@use "../../base/variables";

.section-activity{
.section__header{
  padding-bottom: 60px;
}
}
@include mixins.respond-to(variables.$md) {
  .section-activity .split-layout {
    .split-layout__col2 {
      width: 27%;
    }
    .split-layout__col6 {
      width: 73%;
    }
  }
}

@include mixins.respond-to(variables.$sm){

}
@include mixins.respond-to(variables.$xs){

}