@use "../../base/mixins";
@use "../../base/variables";

.section-contacts {
  background-color: #FFFFFF;
  position: relative;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  z-index: 2;

  .heading_lg {
    margin-bottom: 40px;
    color: #990B6E;
    text-align: center;
  }

  .fieldboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .form-group {
    width: calc(50% - 4px);

    &_big {
      width: 100%;
    }
  }

  .logobox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 56px;
    padding-right: 12px;
  }

  .form__footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 44px;
    padding-bottom: 30px;
  }
}

.contacts-list {
  display: flex;
  backdrop-filter: blur(20px);
  background: linear-gradient(90deg, #e3ecf8 0%, #edf3f6 50%, #eff7f2 100%);
  border-radius: 30px;
  gap: 32px;
  padding: 55px 70px;
  color: #2980E5;
  margin-bottom: 40px;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
  }
}

.contacts-list__item {
  background-color: #FFFFFF;
  border-radius: 24px;
  font-size: 18px;
  line-height: 1.5;
  padding: 23px 22px 23px 88px;
  position: relative;
  flex-grow: 1;

  &:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.phone:before {
    background-image: url(../images/img/phone.svg);
  }

  &.address:before,
  &.email:before {
    background-image: url(../images/img/email.svg);
  }
}

.inner-form-contact {
  color: #0071FF;
  backdrop-filter: blur(20px);
  background: linear-gradient(90deg, #e3ecf8 0%, #edf3f6 50%, #eff7f2 100%);
  border-radius: 30px;
  padding: 68px 50px;
  font-size: 18px;
  line-height: 1.5;
}

.form_contact {
  textarea {
    height: 262px;
  }
}

.form__logo {
  display: block;
  width: 100%;
}

.form__logo-decor {
  display: block;
  width: 100%;
  height: auto;
}

@include mixins.respond-to(variables.$xxl) {
  .contacts-list__item {
    line-height: 1;
    width: 30%;
    flex-grow: 1;
  }

  .contacts-list__title {
    line-height: 1;
    margin-bottom: 9px;
  }
}

@include mixins.respond-to(variables.$xl) {
  .tabs__content {
    min-height: 714px;
  }
  .section-contacts .form-group {
    width: 100%;
  }
  .contacts-list {
    padding: 45px 50px;
    gap: 24px;
    flex-wrap: wrap;
    &__item {
      padding-left: 80px;
      width: 47%;
      &:before {
        width: 34px;
        height: 34px;
        left: 24px;
      }
    }
  }
}

@include mixins.respond-to(variables.$lg) {
  .contacts-list {
    flex-wrap: wrap;

    &__item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 870px){
  .section-contacts .logobox {
    display: none;
  }
  .section-contacts .tabs__content{
    width: 100%;
  }
}
@include mixins.respond-to(variables.$sm){

}
@include mixins.respond-to(variables.$xs) {
  .contacts-list {
    padding: 28px 24px;
    &__item{
      padding-left: 60px;
      font-size: 16px;
      &:before {
        width: 24px;
        height: 24px;
        left: 24px;
      }
    }
    &__title{
      font-size: 16px;
    }
  }
}