@use "../../base/mixins";
@use "../../base/variables";

.sticky-trigger {
  //position: relative;
  width: 100%;
}

.story-section {
  position: sticky;
  top: 0;


  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: inherit;
  color: #000000;

}

//.story-scroll-track {
//  position: relative;
//  width: 100%;
//}

.story-pin-wrap {
  position: relative;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.story-slides {
  position: relative;
  width: 100%;
  height: 100%;

}

.story-slide {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8vw 0 8vw 43.30%;
  opacity: 0;
  visibility: hidden;

  will-change: opacity;
}

//=== anim ===========
.story-line {
  overflow: hidden;
}

.story-char {
  display: inline-block;
  opacity: .3;
  will-change: opacity, transform;
}



// ====================
.story-slide .heading_xl {
  color: #990B6E;
  margin-bottom: 24px;
  font-weight: 500;
}

.story-progress {
  position: relative;
  width: 100%;
  height: 2px;
  background: rgba(231, 241, 255, 0.4);
  overflow: hidden;

 &__bar {
    position: absolute;
    inset: 0;
    background: #990B6E;
    transform: scaleX(0);
    transform-origin: left center;
    will-change: transform;
  }
}
  .story-top {
    position: absolute;
    top: 40px;
    left: 50px;
    right: 50px;
    z-index: 30;
  }

  .story-meta {
    margin-top: 32px;
  }

  .story-fraction {
    display: flex;
    gap: 2px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.50;
    color: #9A9A9A;
  }

  .story-current {
    color: #000;
  }

  @include mixins.respond-to(variables.$xl) {
    .story-section .text_xl {
      font-size: 24px;
    }
  }

  @include mixins.respond-to(variables.$sm) {
    .story-section {
      height: 100vh;

      .text_xl {
        font-size: 20px;
      }
    }
    .story-slide {
      padding: 20px 40px;
    }
    .story-top {
      top: 0;
    }
    .story-meta {
      margin-top: 10px;
    }
  }

  @include mixins.respond-to(variables.$xs) {
    .story-fraction {
      font-size: 18px;
    }
  }