{# src/html/catalog.njk #}

{% extends "layouts/base.njk" %}
{% block main_class %}page page-catalog{% endblock %}

{% block title %}Наші препарати — {{ siteName }}{% endblock %}

{% block content %}
    {% from "macros/section-banner.njk" import render_section_banner as section_banner with context %}
    {% from "macros/breadcrumbs.njk" import render_breadcrumbs as breadcrumbs with context %}
    {% from "macros/card.njk" import card with context %}
    {{ section_banner(
        img_url="images/img/banner-catalog.png",
        title="наші препарати"
    ) }}

    {{ breadcrumbs ([
        {title: "Каталог"}
    ]) }}
<div class="container">
    {% include "partials/search.njk" %}
</div>

{% endblock %}