{# src/html/page-news.njk #}

{% extends "layouts/base.njk" %}
{% block main_class %} page page-blog page-publications{% endblock %}

{% block title %}Публікації — {{ siteName }}{% endblock %}

{% block content %}
    {% from "macros/section-banner.njk" import render_section_banner as section_banner with context %}
    {% from "macros/breadcrumbs.njk" import render_breadcrumbs as breadcrumbs with context %}
    {% from "macros/card.njk" import card with context %}
    {{ section_banner(
        img_url="images/img/banner-catalog.png",
        title="Публікації"
    ) }}

    {{ breadcrumbs ([
        {title: "Публікації"}
    ]) }}

    <div class="container">
        {% include "partials/search.njk" %}
    </div>
    <section class="section-publications">
        <div class="container">
            {% set publik_list = [
                {
                    title: "Напівсинтетичний препарат з групи лінкозамідів для перорального...",
                    link: "#",
                    type: "long",
                    date: "Січень, 2026"
                },
                {
                    title: "Напівсинтетичний препарат з групи лінкозамідів для перорального ...",
                    link: "#",
                    type: "long",
                    date: "Листопад, 2026"
                },
                {
                    title: "Напівсинтетичний препарат з групи лінкозамідів для перорального...",
                    link: "#",
                    type: "long",
                    date: "Січень, 2026"
                }
            ] %}
            <h2 class="section__title">Публікації</h2>
            <div class="publications-list">
                {% for item in publik_list %}
                    {{ card(
                        title = item.title,
                        link = item.link,
                        type = item.type,
                        date = item.date
                    ) }}
                {% endfor %}
            </div>
            {% include "partials/pagination.njk" %}
        </div>
    </section>

{% endblock %}