@use "../base/mixins";
@use "../base/variables";

.breadcrumbs {
  padding-top: 40px;
  padding-bottom: 48px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    color: #B8B8B8;
    position: relative;
    margin-right: 6px;
    padding-right: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    white-space: nowrap;

    a {
      display: inline-block;
    }

    &:before {
      position: absolute;
      content: '/';
      display: block;
      right: 0;
    }

    &:last-child {
      padding-right: 0;

      &:before {
        display: none;
      }
    }

    &:last-child:after {
      position: absolute;
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      left: 0;
      right: 0;
      bottom: -6px;
      z-index: 1;
    }
  }
  &__current{
    color: #686868;
  }
}

@include mixins.respond-to(variables.$sm) {

}

@include mixins.respond-to(variables.$xs) {

}
