@use "../base/mixins";
@use "../base/variables";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 300;
  min-width: 225px;
  font-size: 18px;
  line-height: 1;
  padding: 0;
  border: none;

  background-color: transparent;

  &__inner {
    display: inline-flex;
    align-items: center;
    gap: 0;
    height: 46px;
    width: 100%;
  }

  &__text-block {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 24px;
    flex-grow: 1;
  }

  &__text {
    position: relative;
    z-index: 2;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2A2A2A;
    white-space: nowrap;
  }

  .text-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__icon {
    display: inline-flex;
    width: 51px;
    height: 46px;
    position: relative;
    z-index: 2;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__icon,
  &__icon svg,
  &__text-block,
  .text-bg {
    overflow: visible !important;
  }

  .text-path-main,
  .icon-path-main {
    shape-rendering: geometricPrecision;
    vector-effect: non-scaling-stroke;
  }


  &_outline {
    background-color: transparent;
    border-radius: 40px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    padding: 16px 22px;
    font-weight: 400;
    transition: .35s;
    &:hover,
    &:focus {
      background-color: #fff;
      color: #000;
    }
  }
}

.btn_call{
  bottom: 67px;
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  z-index: 600;

  img, svg {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}


@include mixins.respond-to(variables.$sm) {

}

@include mixins.respond-to(variables.$xs) {

}


@include mixins.respond-to(variables.$xs) {
  .btn{
    min-width: 200px;
  }
  .btn_call{
    width: 55px;
    height: 55px;
    right: 20px;
  }
  .btn__text{
    font-size: 16px;
  }
}