@use "../base/mixins";
@use "../base/variables";

.card {
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  padding: 17px 11px 0;
  position: relative;
  border-radius: 30px;
  display: inline-block;

  * {
    position: relative;
    z-index: 1;
  }

  &:before,
  &:after {
    border-radius: 30px;
    position: absolute;
    content: '';
    opacity: 0;
    transition: opacity .35s;
  }

  &:before {
    inset: -1px;
    background-image: linear-gradient(180deg, #056AFD 0%, #89FBC1 100%);
    z-index: -1;
  }

  &:after {
    inset: 0;
    background-image: linear-gradient(180deg, #E5EFFF 0%, #E6FFF1 100%);
    z-index: 0;
  }

  &:hover:before,
  &:hover:after {
    opacity: 1;
  }

  &__image {
    background-color: #FFFFFF;
    border-radius: 30px;
    position: relative;
    padding-top: 97.75%;

    img {
      display: block;
      max-width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%
      );
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 22px 12px 50px;
  }

  &__title {
    min-height: 50px;
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word
  }

  &__text {
    margin-bottom: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  &__btn {
    display: inline-block;
    font-weight: 400;
    margin-left: auto;
    position: relative;
    padding-right: 32%;

    &:after {
      position: absolute;
      content: '';
      background-image: url('data:image/svg+xml,<svg width="92" height="8" viewBox="0 0 92 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M91.7425 4.03519C91.9378 3.83993 91.9378 3.52335 91.7425 3.32809L88.5606 0.146107C88.3653 -0.0491555 88.0487 -0.0491555 87.8534 0.146107C87.6582 0.341369 87.6582 0.657951 87.8534 0.853214L90.6819 3.68164L87.8534 6.51007C87.6582 6.70533 87.6582 7.02191 87.8534 7.21717C88.0487 7.41244 88.3653 7.41244 88.5606 7.21717L91.7425 4.03519ZM0 3.68164V4.18164H91.389V3.68164V3.18164H0V3.68164Z" fill="currentColor"/></svg>');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: auto;
      max-width: 68px;
      width: 36%;
      height: 8px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.card_long {
  min-height: 108px;
  padding: 34px;
  margin-bottom: 12px;
  line-height: 1.36;
  border-radius: 0;

  &:after {
    opacity: 1;
    background-color: #fff;
    background-image: none;
    border-radius: 0;
  }

  &:before {
    opacity: 1;
    inset: 1px;
    bottom: -1px;
    border-radius: 0;
  }

  .card__content {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .card__title {
    align-items: center;
    display: inline-flex;
    width: 53%;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
  }

  .card__date {
    width: 24%;
    padding: 0 8px;
    flex-shrink: 0;
    text-align: center;
    color: #868686;
  }

  .card__btn {
    display: inline-flex;
    width: 23%;
    font-weight: 300;
    max-width: 206px;
    padding-right: 12.5%;
    align-items: center;
    transition: .35s;
  }

  &:hover {
    .card__btn {
      color: #990B6E;
      text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;

      &:after {
        filter: invert(41%) sepia(13%) saturate(2469%) hue-rotate(256deg) brightness(89%) contrast(83%);
      }
    }
  }

  &.card:last-of-type {
    margin-bottom: 0;
  }
}

@include mixins.respond-to(variables.$md) {
  .card {
    font-size: 14px;
  }
  .card__title {
    font-size: 18px;
    min-height: 44px;
  }
  .card__btn {
    padding-right: 78px;
  }
  .card_long {
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
  }
  .card_without-img {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .card {
    font-size: 16px;
  }
  .card__title {
    font-size: 21px;
    min-height: 50px;
  }
  .card_long {
    padding-left: 16px;
    padding-right: 16px;

    .card__content {
      flex-wrap: wrap;
    }

    .card__date {
      width: 50%;
      text-align: left;
    }

    .card__btn {
      width: 50%;
      max-width: 183px;
    }

    .card__title {
      width: 100%;
      padding-bottom: 8px;
    }
  }
  .card_without-img {
    padding-left: 11px;
    padding-right: 11px;
  }
  .section-news .card_without-img {
    width: 48%;
  }
}

@include mixins.respond-to(variables.$xs) {
  .card__title {
    min-height: 0;
  }
  .card__content {
    padding-bottom: 39px;
  }
  .page-news {
    .section-news {
      padding-bottom: 50px;
    }

    .split-layout__col2 {
      flex-wrap: wrap;
    }
  }
  .section-publications .section__title {
    width: 100%;
    margin-bottom: 16px;
  }
  .card_long .card__date {
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
  }
  .card_long .card__date, .card_long .card__btn {
    width: 100%;
  }
}