@use "../base/mixins";
@use "../base/variables";

form {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2;
  color: #000000;

  .label {
    color: #0071FF;
    display: inline-block;
    font-weight: 500;
    line-height: 1.38;
    padding: 4px 8px;
    margin-bottom: 4px;
    font-size: 14px;
  }

  input {
    display: block;
    padding: 16px 10px 16px 20px;
    line-height: 1.1;
    border: 1.05px solid #A2CCFF;
    border-radius: 30px;
    background-color: transparent;
    margin-bottom: 8px;
    width: 100%;
  }

  textarea {
    padding: 23px 20px;
    border: 1.05px solid #A2CCFF;
    border-radius: 30px;
    background-color: transparent;
    display: block;
    width: 100%;
  }
  input[type="checkbox"],
  input[type="radio"] {
    accent-color: #2B82E4;
    width: 15px;
    height: 15px;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 2px;
    flex-shrink: 0;
  }
  .label.label-textarea{
    margin-bottom: 8px;
  }
  .label.label-radio,
  .label.label-checkbox{
    display: flex;
    font-weight: 400;
    margin-bottom: 16px;
    padding: 0;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

::placeholder {
  color: rgba(0, 0, 0, 0.49);
}

.home {
  form {
    font-size: 18px;
    color: #0071FF;
    line-height: 1.5;
    .label {
      font-size: 16px;
    }
    input{
      padding: 17px 10px 17px 30px;
      border-radius: 32px;
    }
    textarea {
      padding: 28px 30px;
      border-radius: 32px;
    }
  }
  ::placeholder {
    color: rgba(0, 113, 255, 0.5);
  }
}

@include mixins.respond-to(variables.$xs) {
  form {
    input {
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 20px;
    }

    .label {
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}
