@use "../base/mixins";
@use "../base/variables";

form {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.2;
  color: #000000;

  .label {
    color: #0071FF;
    display: inline-block;
    font-weight: 500;
    line-height: 1.38;
    padding: 4px 8px;
    margin-bottom: 4px;
    font-size: 14px;
  }

  input {
    display: block;
    padding: 16px 10px 16px 20px;
    line-height: 1.1;
    border: 1.05px solid #A2CCFF;
    border-radius: 30px;
    background-color: transparent;
    margin-bottom: 8px;
    width: 100%;
  }

  textarea {
    padding: 23px 20px;
    border: 1.05px solid #A2CCFF;
    border-radius: 30px;
    background-color: transparent;
    display: block;
    width: 100%;
  }
  input[type="checkbox"],
  input[type="radio"] {
    accent-color: #2B82E4;
    width: 15px;
    height: 15px;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 2px;
    flex-shrink: 0;
  }
  .label-radio,
  .label-checkbox{
    display: flex;
    font-weight: 400;
    margin-bottom: 16px;
    padding: 0;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

::placeholder {
  color: rgba(0, 0, 0, 0.49);
}

.home {
  form {
    font-size: 18px;
    color: #0071FF;
    line-height: 1.5;
    .label {
      font-size: 16px;
    }
    input{
      padding: 17px 10px 17px 30px;
      border-radius: 32px;
    }
    textarea {
      padding: 28px 30px;
      border-radius: 32px;
    }
  }
  ::placeholder {
    color: rgba(0, 113, 255, 0.5);
  }
}


//CUSTOM CHECKBOX
//.checkbox-wrap {
//  position: relative;
//  display: inline-block;
//  cursor: pointer;
//  user-select: none;
//  padding-left: 55px;
//  color: variables.$black;
//  font-size: 22px;
//  line-height: 1.1;
//  max-width: 836px;
//  width: 100%;
//
//  input {
//    position: absolute;
//    opacity: 0;
//    pointer-events: none;
//  }
//
//  input:checked + .checkmark {
//    background: variables.$green-100;
//  }
//
//  input:checked + .checkmark::after {
//    opacity: 1;
//  }
//}
//
//.checkmark {
//  width: 33px;
//  height: 33px;
//  border: 1px solid variables.$green-100;
//  display: inline-block;
//  position: absolute;
//  left: 0;
//  top: 0;
//
//  &:after {
//    content: '';
//    position: absolute;
//    left: 50%;
//    top: 50%;
//    width: 7px;
//    height: 18px;
//    border: solid white;
//    border-width: 0 2px 2px 0;
//    transform: translate(-50%, -50%) rotate(45deg);
//    opacity: 0;
//    transition: opacity 0.2s ease;
//  }
//}

@include mixins.respond-to(variables.$xl) {

}

@include mixins.respond-to(variables.$md) {

}

@include mixins.respond-to(variables.$sm) {

}

@include mixins.respond-to(variables.$xs) {
  form {
    input {
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 20px;
    }

    .label {
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}

@include mixins.respond-to(variables.$xxs) {

}