@use "../base/mixins";
@use "../base/variables";

.splide__arrow {
  padding: 0;
  width: 51px;
  height: 46px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    width: 100%;
    height: auto;
    display: block;
    fill: #FFFFFF;
  }
}

.splide__arrows--ttb .splide__arrow--prev {
  left: 0;
  top: 0;
  transform: none;
}

.splide__arrows--ttb .splide__arrow--next {
  left: 0;
  bottom: 0;
  transform: translateX(0) rotate(180deg);
}

.slider-category {
  padding-top: 60px;
  padding-bottom: 60px;
  .splide__track {
    padding:  2px!important;
  }

  .splide__slide {
    display: flex;
    background-color: #fff;
    align-items: center;
    font-weight: 400;
    line-height: 1.2;
    padding: 14px 26px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    a {
      display: block;
    }

    * {
      position: relative;
      z-index: 1;
    }

    &:before,
    &:after {
      border-radius: 30px;
      position: absolute;
      content: '';
      opacity: 0;
    }

    &:before {
      inset: -2px;
      background-image: linear-gradient(180deg, #056AFD 0%, #89FBC1 100%);
      z-index: -1;
    }

    &:after {
      inset: 0;
      background-color: #FFFFFF;
      z-index: 0;
    }

    &.is-custom-active {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05),
      0 1px 3px rgba(0, 0, 0, 0.02);
    }

    &.is-selected-category {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      justify-content: center;

      &:after,
      &:before {
        opacity: 1;
      }
    }
  }
}

@include mixins.respond-to(variables.$md) {
  .slider-category {
    transform: none !important;
    max-height: 80vh;
    overflow: visible;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
  }

  .splide__arrows {
    display: none !important;
  }

  .slider-category {
    transform: none !important;
    max-height: 80vh;
    overflow: visible;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    visibility: visible ;
  }

  .slider-category .splide__track {
   display: block ;
    height: auto ;
    overflow: visible ;
 }

  .slider-category .splide__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    transform: none;
    width: 100%;
    height: 100%;
    max-height: 80vh;
  }
  .slider-category .splide__slide {
    width: 100%;
  }
}
