<header class="header">
  <div class="container">
    <a href="index.html" class="header__logo">
      <img src="images/img/logo-var.svg" alt="Logo Bioscience" width="323" height="69">
    </a>
    <button class="burger" aria-label="Menu">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
    <nav class="header__nav">
      <div class="nav-active-bg"></div>
      <ul class="menu">
        <li class="menu__item"><a href="index.html" class="menu__link active">Хто ми</a></li>
        <li class="menu__item has-submenu">
          <a href="catalog.html" class="menu__link">Наші препарати</a>
          <span class="arrow">▼</span>
          <ul class="submenu">
            <li><a href="#">Рецептурні препарати</a></li>
            <li><a href="#">Безрецептурні препарати</a></li>
          </ul>
        </li>
        <li class="menu__item"><a href="page-pharmacovigilance.html" class="menu__link">Фармаконагляд</a></li>
        <li class="menu__item"><a href="page-news.html" class="menu__link">Новини</a></li>
        <li class="menu__item"><a href="page-contacts.html" class="menu__link">Контакти</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="backdrop"></div>