@use "./mixins";
@use "./variables";

html, body {
  height: auto;
  min-height: 100%;
}

html {
  scroll-behavior: auto !important;
}

body {
  font: 300 16px variables.$main-font;
  height: 100%;
  min-height: 100vh;
  line-height: 1.5;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
}

body.menu-open {
  overflow: hidden;
}

.color_blue {
  color: #2B82E4;
}

.text_uppercase {
  text-transform: uppercase;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.d-flex {
  display: flex;
}

.section {
  padding-bottom: 100px;

  &__title-gb {
    position: relative;
    z-index: 1;

    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    color: #8e0e61;

    padding: 14px 12px 14px 18px;
    white-space: nowrap;

    display: inline-block;
    width: max-content;
    max-width: calc(100% - 30px);
    border: 3px solid transparent;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(180deg, #056AFD 0%, #89FBC1 100%) border-box;

    &:before {
      content: "";
      position: absolute;
      top: -3px;
      bottom: -3px;
      right: -28px;
      width: 34px;
      z-index: 2;
      background-image: url("../images/img/arrow-corner-title.svg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  &__content {
    h3 {
      font-size: 36px;
      margin-bottom: 42px;
    }

    h2, h3, h4 {
      color: #8e0e61;
      font-weight: 500;
      line-height: 1.24;
    }
  }
}

.split-layout {
  display: flex;

  &__col2 {
    width: 27%;
  }

  &__col3 {
    width: 43.30%;
  }

  &__col4 {
    width: 50%;
  }

  &__col5 {
    width: 57.70%;
  }

  &__col6 {
    width: 73%;
  }
}

.btn-back {
  position: absolute;
  display: inline-block;
  padding-left: 93px;
  left: 0;
  top: 0;

  &:before {
    position: absolute;
    content: '';
    background-image: url('data:image/svg+xml,<svg width="92" height="8" viewBox="0 0 92 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M91.7425 4.03519C91.9378 3.83993 91.9378 3.52335 91.7425 3.32809L88.5606 0.146107C88.3653 -0.0491555 88.0487 -0.0491555 87.8534 0.146107C87.6582 0.341369 87.6582 0.657951 87.8534 0.853214L90.6819 3.68164L87.8534 6.51007C87.6582 6.70533 87.6582 7.02191 87.8534 7.21717C88.0487 7.41244 88.3653 7.41244 88.5606 7.21717L91.7425 4.03519ZM0 3.68164V4.18164H91.389V3.68164V3.18164H0V3.68164Z" fill="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: contain;
    width: 73px;
    height: 8px;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
    transition: .35s;
  }

  &:hover {
    color: #990B6E;
    text-shadow: 0.4px 0 0 currentColor, -0.4px 0 0 currentColor;

    &:before {
      filter: invert(41%) sepia(13%) saturate(2469%) hue-rotate(256deg) brightness(89%) contrast(83%);
    }
  }
}
/* Знаходимо контейнери з нашим атрибутом */
[data-parallax-bg] {
  position: relative;
}

[data-parallax-bg]::before {
  transform: translateY(var(--parallax-y, 0px));
  will-change: transform;
  //transition: none !important;
}
.dynamic-content {
  p {
    margin: 30px 0;
    line-height: 1.95;
  }

  img {
    max-width: 100%;
    height: auto;

    &.alignleft {
      float: left;
      margin: 8px 24px 24px 0;
    }

    &.alignright {
      float: right;
      margin: 8px 0 24px 24px;
    }

    &.aligncenter {
      display: block;
      margin: 24px auto;
      clear: both;
    }

    &.alignfull {
      width: 100%;
      height: auto;
      display: block;
      margin: 25px 0;
    }
  }

  h2,
  h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 54px;
    margin-bottom: 32px;
    font-weight: 500;
  }

  h2 {
    //font-size: 36px;
    font-size: clamp(1.625rem, 1.34rem + 1.21vw, 2.25rem);
  }

  h3 {
    //font-size: 30px;
    font-size: clamp(1.375rem, 1.15rem + 0.97vw, 1.875rem);
  }

  h4 {
    font-size: clamp(1.188rem, 1.05rem + 0.61vw, 1.5rem);
    //font-size: 24px;
  }

  ul, ol {
    margin: 30px 0;
  }

  ol {
    counter-reset: list;

    li {
      overflow-wrap: anywhere;
      position: relative;
      list-style: inherit;
      padding-left: 40px;

      &:before {
        position: absolute;
        top: 0;
        left: 16px;
        counter-increment: list;
        content: counter(list) '.';
      }
    }
  }

  ul {
    li {
      &:before {
        content: ".";
        display: block;
        position: absolute;
        left: 16px;
        top: -16px;
        font-size: 40px;
        line-height: 1;
      }
    }
  }

  li {
    position: relative;
    padding-left: 34px;
    margin-bottom: 5px;
  }

  a {
    color: #990B6E;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}

.backdrop {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(2px);
  transition: .35s;
  z-index: 3;

  &.is-visible {
    opacity: 1;
    pointer-events: auto;
  }
}

/* =========================
   REVEAL SYSTEM
========================= */

.reveal-mask {
  overflow: hidden;
}

.reveal-line {
  will-change: transform, opacity;
  backface-visibility: hidden;
}

.pulse-anim {
  transform-origin: center center;
  transform-box: fill-box;
  animation: pulse-effect 1.2s infinite ease-in-out;
}

@keyframes pulse-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@include mixins.respond-to(variables.$lg) {
  .section__title-gb {
    font-size: 22px;
  }
}

@include mixins.respond-to(variables.$md) {
  .dynamic-content {
    p, ul, ol {
      margin: 24px 0;
      line-height: 1.85;
    }

    h2,
    h3, h4, h5, h6 {
      margin-top: 32px;
      margin-bottom: 24px;
    }
    li:before{
      left: 12px;
      top: -18px;
    }
    li,
    ol li {
      padding-left: 32px;
      &:before{
        left: 10px;
      }
    }
  }
  .btn-back {
    transform: scale(.85) translate(-18px, -100%);
  }
}

@include mixins.respond-to(variables.$sm) {
  .btn-back{
    display: none;
  }
  .split-layout {
    flex-wrap: wrap;
  }
  .split-layout__col2,
  .split-layout__col3,
  .split-layout__col5,
  .split-layout__col6 {
    width: 100%;
  }
  .section__title-gb:not(.section-activity .section__title-gb) {
    margin-bottom: 30px;
    font-size: clamp(16px, -0.163rem + 3.21vw, 22px);
  }
  .section__content h3 {
    font-size: clamp(24px, 0.337rem + 3.21vw, 30px);
  }

}

@include mixins.respond-to(variables.$xs) {
  .section {
    padding-bottom: 50px;

    &__title-gb {
      font-size: 16px;
    }
  }
  .section__content h3 {
    font-size: 24px;
  }
  .note {
    font-size: 12px;
  }
  .dynamic-content {
    p, ul, ol {
      margin: 16px 0;
      line-height: 1.65;
    }

    h2,
    h3, h4, h5, h6 {
      margin-top: 24px;
      margin-bottom: 16px;
    }
    li:before{
      left: 12px;
      top: -18px;
    }
    li,
    ol li {
      padding-left: 32px;
      &:before{
        left: 10px;
      }
    }
  }
}