@use "../base/mixins";
@use "../base/variables";

.heading {
  &_xxl {

  }

  &_xl {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.24;
  }

  &_lg {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.24;
  }

  &_md {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.24;
  }
}

//---------

strong {
  font-weight: 700;
}

.text {
  &_xl {
    font-size: 32px;
    line-height: 1.5;
  }

  &_lg {
    font-size: 24px;
    line-height: 1.5;
  }

  &_md {
    font-size: 18px;
    line-height: 1.5;
  }
}

@include mixins.respond-to(variables.$xxl) {
  .heading {
    &_xl {
      font-size: 36px;
    }

    &_lg {
      font-size: 34px;
    }

    &_md {
      font-size: 30px;
    }
  }
  h2 {
    font-size: 36px;
  }

  .section__content h3 {
    font-size: 34px;
  }
  h4 {
    font-size: 30px;
  }
}

@include mixins.respond-to(variables.$xl) {
  .heading_md {
    font-size: 28px;
  }
}

@include mixins.respond-to(variables.$lg) {
  .text_lg {
    font-size: 20px;
  }
  .text_xl {
    font-size: 24px;
  }
  .section__content h3 {
    font-size: 30px;
  }
  .heading_xl {
    font-size: 34px;
  }
  .heading_md {
    font-size: 26px;
  }
}

@include mixins.respond-to(variables.$sm) {

}


@include mixins.respond-to(variables.$xs) {

}

@include mixins.respond-to(variables.$xs) {
  .heading_xl{
    font-size: 32px;
  }
  .heading_lg {
    font-size: 26px;
  }
  .text_lg {
    font-size: 18px;
  }
  .text_xl {
    font-size: 22px;
  }
}








