@use "../base/mixins";
@use "../base/variables";

.page-news {
  .section__footer {
    padding-top: 16px;
    text-align: center;
  }

  .section-news {
    padding-bottom: 100px;
  }

  .split-layout__col2 {
    width: 34%;
    padding-right: 16px;
  }

  .split-layout__col6 {
    width: 66%;
  }
}