@use "../base/mixins";
@use "../base/variables";

.page-contacts {
  .heading_lg {
    font-weight: 500;
    font-size: 35px;
    line-height: 1.2;
    color: #990B6E;
    margin-bottom: 65px;
    max-width: 583px;
  }

  .split-layout__col4:first-child {
    padding-right: 16px;
  }

  .form_contact {
    max-width: 546px;
    width: 100%;
  }

  textarea {
    height: 204px;
  }
}

.contacts {
  .container {
    position: relative;

    &:before {
      position: absolute;
      content: '';
      background-image: url(../images/img/logo-bg.svg);
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: cover;
      left: -25px;
      top: -163px;
      width: 687px;
      height: 718px;
      z-index: -1;

    }
  }
}

.contact__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 24px;

  .small-text {
    font-weight: 300;
    font-size: 16px;
    color: #4A4A4A;
  }
}

@include mixins.respond-to(variables.$xl) {
  .page-contacts .heading_lg {
    font-size: 30px;
  }
}

@include mixins.respond-to(variables.$sm) {
  .page-contacts{
    .heading_lg{
      margin-bottom: 32px;
    }
    .split-layout__col4:nth-child(n){
      width: 100%;
      padding-right: 0;
    }
  }

  .contact__item {
    margin-bottom: 16px;
    font-size: 16px;
    .small-text {
      font-size: 14px;
    }
  }
}

@include mixins.respond-to(variables.$xs) {
  .page-contacts .heading_lg {
    font-size: 28px;
  }
}