@use "../base/mixins";
@use "../base/variables";

.page {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  padding-bottom: 134px;
  z-index: 2;

  .section-banner {
    height: 544px;
    margin-bottom: 0;
  }

  .section-banner_small {
    height: 202px;
  }

  .heading_xl {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .section__title {
    color: #990B6E;
    margin-bottom: 32px;
    text-transform: uppercase;
  }

  .heading_md {
    margin-bottom: 28px;
  }

  .form__footer {
    padding-top: 56px;
    text-align: right;
  }
}
.section-banner_small .container{
  padding-bottom: 0;
}
@include mixins.respond-to(variables.$xxl) {
  .page .section-banner_small {
    height: 178px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .page .section-banner_small {
    height: 100px;
  }
  .section-banner_small .container{
    padding-bottom: 0;
  }
}