@use "../base/mixins";
@use "../base/variables";

.section-catalog__inner {
  display: flex;
  align-items: flex-start;
}

.category-filter {
  padding-right: 33px;
  width: 293px;
  flex-shrink: 0;
}

.category-filter__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 33px;
}

.catalog-wrap {
  flex-grow: 1;
  min-width: 0;
  padding-left: 45px;
}

.catalog-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .card {
    max-width: 323px;
    width: 32%;
    margin-bottom: 16px;
  }
}

@include mixins.respond-to(variables.$xl) {
  .catalog-wrap{
    padding-left: 16px;
  }
  .catalog-grid .card{
    width: 31%;
  }
}

@include mixins.respond-to(variables.$lg) {
  .catalog-wrap{
    padding-left: 45px;
  }
  .catalog-grid .card{
    width: 48%;
  }
}
@include mixins.respond-to(variables.$md) {
  .catalog-wrap{
    padding-left: 0;
  }
  .catalog-grid .card{
    width: 31%;
  }
  .category-filter{
    position: absolute;
    transform: translateX(-150%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
@include mixins.respond-to(variables.$md) {
  .catalog-grid .card {
    width: 48%;
    max-width: 377px;
  }
}
@include mixins.respond-to(variables.$sm) {
  .catalog-grid .card {
    width: 100%;
    margin: 0 auto;
  }
}
