@use "../base/mixins";
@use "../base/variables";

.page{
  position: relative;
  background-color: #fff;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  padding-bottom: 134px;
  z-index: 2;
  .section-banner{
    height: 544px;
    margin-bottom: 0;
  }
  .heading_xl{
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .section__title{
    color: #990B6E;
    margin-bottom: 38px;
  }
  .heading_md{
    margin-bottom: 8px;
  }
}