@use "../base/mixins";
@use "../base/variables";

.section-catalog__inner {
  display: flex;
  align-items: flex-start;
}

.category-filter {
  padding-right: 33px;
  width: 293px;
  flex-shrink: 0;
}

.category-filter__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 33px;
}

.catalog-wrap {
  flex-grow: 1;
  min-width: 0;
  padding-left: 45px;
}

.catalog-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .card {
    max-width: 323px;
    width: 32%;
    margin-bottom: 16px;
  }
}
