@use "../utils/mixins";
@use "../utils/variables";

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
  @include mixins.respond-to(variables.$xxl) {
    max-width: 1280px;
  }
  @include mixins.respond-to(variables.$xl) {
    max-width: 1080px;
  }
  @include mixins.respond-to(variables.$lg) {
    max-width: 880px;
    padding: 0 25px;
  }

  @include mixins.respond-to(variables.$md) {
    max-width: 100%;
  }

  @include mixins.respond-to(variables.$sm) {
    padding: 0 15px;
  }

  //@include mixins.respond-to(variables.$xs) {
  //
  //}
  //@include mixins.respond-to(variables.$xxs) {
  //
  //
  //}
  //
  //@media screen and (max-width: 340px) {
  //
  //}
}

.container {
  @include mixins.respond-to(variables.$xl) {
    border: 2px solid red;
  }
  @include mixins.respond-to(variables.$lg) {
    border: 2px solid blue;
  }
  @include mixins.respond-to(variables.$md) {
    border: 2px solid goldenrod;
  }
  @include mixins.respond-to(variables.$sm) {
    border: 2px solid greenyellow;
  }
  @include mixins.respond-to(variables.$xs) {
    border: 2px solid fuchsia;
  }
  @include mixins.respond-to(variables.$xxs) {
    border: 2px solid blueviolet;
  }
}