@use "../base/mixins";
@use "../base/variables";

.header {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 3;

  transform: translateY(-24px);
  opacity: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 323px;
    height: auto;
  }
}

.header__nav {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  position: relative;
  display: flex;
  border: 1px solid variables.$light-blue;
  background: linear-gradient(126.02deg, rgba(249, 244, 241, 0.4) -32.43%, rgba(255, 255, 255, 0.08) 146.07%);
  border-radius: 50px;
  z-index: 300;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;

  &.active {
    .burger__line {
      background-color: #2A2A2A;
      width: 28px;
    }

    .burger__line:first-child {
      transform: rotate(45deg) translate(6px, 7px);
    }

    .burger__line:nth-child(2) {
      opacity: 0;
      transform: scaleX(0);
    }

    .burger__line:last-child {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}

.burger__line {
  display: block;
  width: 30px;
  height: 2px;
  background: white;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1),
  opacity 0.25s ease,
  background-color 0.3s ease;
  transform-origin: center;

}

@include mixins.respond-to(variables.$xl) {
  .header__logo {
    max-width: 225px;
  }
}

@include mixins.respond-to(variables.$lg) {
  .burger {
    display: flex;
    z-index: 1000;
    position: relative;
  }

  .nav-active-bg {
    display: none;
  }
  .header {
    contain: layout;
  }
  .header__nav {
    position: fixed;
    top: -60px;
    right: 0;
    left: auto;
    bottom: 0;
    transform: translateX(100%);
    visibility: visible;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    flex-direction: column;
    padding: 120px 40px;
    border-radius: 0;
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1), visibility 0.4s;
    display: flex;
  }
   .header__nav.is-open {
    transform: translateX(0);
    visibility: visible;
  }
}

@include mixins.respond-to(variables.$xxl) {
  .header__logo {
    max-width: 224px;
  }
}

@include mixins.respond-to(variables.$xs) {
  .header {
    top: 50px;
    &__logo {
      max-width: 174px;
    }
    &__nav{
      top: -50px;
    }
  }
}

