{# src/html/macros/card.njk #}

{% macro card(title, text, imgUrl='', link='#', type='default', date='') %}
    <a href="{{ link }}" class="card card_{{ type }}">

        {# Перевіряємо, чи передали шлях до картинки #}
        {% if imgUrl %}
            <div class="card__image">
                <img src="{{ imgUrl }}" alt="{{ title }}">
            </div>
        {% endif %}

        <div class="card__content">
            <h3 class="card__title">{{ title }}</h3>
            {% if text  %}
            <p class="card__text">{{ text }}</p>
            {% endif %}
            {% if date  %}
            <span class="card__date">{{ date }}</span>
            {% endif %}
            <span class="card__btn">Детальніше... <span class="card__btn-icon"></span></span>
        </div>
    </a>
{% endmacro %}