{# src/html/macros/section-banner.njk #}

{% macro render_section_banner(img_url, img_mob_url, title="", tag="h1", extra_class="") %}
    <section class="section-banner {{ extra_class }}">
        <div class="section-banner__img">
            <picture>
                {% if img_mob_url %}
                    <source media="(max-width: 610px)" srcset="{{ img_mob_url }}">
                {% endif %}
                {# Зверніть увагу: змінна title_img у вас не передається в аргументи, можливо краще використати title #}
                <img class="img_desk" src="{{ img_url }}" alt="{{ title | striptags }}">
            </picture>
        </div>
        <div class="container">
            {% if title %}
            <{{ tag }} class="heading_xl section-banner__title"
            data-reveal="lines"
            data-stagger="0.14"
            data-duration="1.4"
            data-ease="power1.out">
            {{ title | safe }}
        </{{ tag }}>
        {% endif %}

        {{ caller() if caller }}
        </div>
    </section>
{% endmacro %}
